.square {
  height: 512px;
  width: 512px;
  background-color: #ffce22;
  margin-bottom: 100px;
}
.blue {
  height: 256px;
  width: 512px;
  background-color: blue;
  padding-left: 57px;
  padding-top: 144px;
  box-sizing: border-box;
}
.blue-Group {
  height: 256px;
  width: 512px;
  background-color: blue;
  padding-top: 62px;
  box-sizing: border-box;
}
.blue-plane {
  height: 256px;
  width: 512px;
  background-color: blue;
  padding-left: 173px;
  padding-top: 130px;
  box-sizing: border-box;
}
.blue-dija {
  height: 256px;
  width: 512px;
  background-color: blue;
  padding-top: 159px;
  padding-left: 90px;
  box-sizing: border-box;
}
.square-white {
  height: 512px;
  width: 512px;
  background-color: #ffce22;
  margin-bottom: 100px;
  border-radius: 222px;
}
.square-radius {
  height: 512px;
  width: 512px;
  background-color: #ffce22;
  border-radius: 222px;
  box-sizing: border-box;
}

.blue-dija-test {
  height: 256px;
  width: 512px;
  background-color: #2137fc;
}
.circle-Glyph {
  width: 444px;
  height: 444px;
  border-radius: 50%;
  background-color: #ffce22;
  background-image: url(../img/Blue.png);
  background-repeat: no-repeat;
}
.Glyph {
  padding-left: 26px;
  padding-top: 199px;
}
.circle {
  width: 444px;
  height: 444px;
  border-radius: 50%;
  background-color: #ffce22;
  background-image: url(../img/Blue2.png);
  background-repeat: no-repeat;
  margin-top: 168px;
}
.group {
  padding-top: 57px;
  padding-left: 82px;
}
.plane{
  padding-top: 66px;
  padding-left: 77px;
}
.dija{
    padding-top: 123px;
    padding-left: 68px;
}
.square-black{
    height: 512px;
    width: 512px;
    background-color: #000000;
    margin-bottom: 100px;
    display: inline-block;
    margin-left: 100px;
    vertical-align: bottom;
}
.dija-square{
   padding-top: 128px;
   padding-left: 90px; 
}
.flag{
    margin-top: 33px;
    padding-left: 216px;
}
.dija-square-left{
    padding-top: 65px;
    padding-left: 90px;

}
.flag-left{
    padding-top: 23px;
   padding-left: 23px;
   display: inline-block;
}
.flag-right{
    padding-left: 304px;
    display: inline-block;
}
.square-box{
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
}
.circle-box{
    display: inline-block;
}