body{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
}
.header{
    max-height: 54px;
    font-size: 48px;
    text-align: center;
    color: #3E45E8;
    font-family: 'M PLUS 1', sans-serif;
    font-weight: 400;
    padding: 20px 0 30px 0;

}
.header-span{
    color: #E8C23E;

}
.banner{
    box-sizing: border-box;
    height: 803px;
    background-repeat: no-repeat;
    background-image: url(../img/image\ 1.png );
    background-size: cover;
    padding-top: 208px;
    padding-left: 80px;
}
.content{
    color: #FFFFFF;
    font-size: 48px;
    width: 70%;
    background-image: url(../img/flag.png);
    box-sizing: border-box;
    height: 272px;
    background-repeat: no-repeat;
    padding-left: 3%;
    padding-top: ;
}
.h1{
    margin: 60px 0 25px 0;
    font-size: 40px;
}
.line{
    border-top: 5px solid #3E45E8;
    width: 402px;
    margin-bottom: 33px;
}
.main{
    padding: 0 80px ;
}
.card{
    border: 1px solid #f1e4e4;
    height: 480px;
    width: 30%;
    color: #1E8DF2;
    display: inline-block;
    vertical-align: text-top;
    border-radius: 35px;
    box-shadow: 0px 4px 57px rgba(0, 0, 0, 0.25) ;

}
.card-image{
    width: 100%;
}
.card-title{
    font-size: 24px;
    padding: 10px;
    box-sizing: border-box;
}
.card-subtitle{
    font-size: 20px;
    font-weight: 400;
    color: #E8C23E;
    padding: 10px;
    box-sizing: border-box;

}
.card-margin{
    margin: 0 4%;
}
.carte{
    font-size: 40px;
    text-align: center;
    margin-top: 74px;
    margin-bottom: 20px;
}
.line-center{
    margin: 20px auto 40px;
}
.box-help{
    width: 591px;
    height: 121px;
    background-color: #2A61F0;
    font-size: 64px;
    color: #FFFFFF;
    text-align:center;
    margin: 0 auto 30px;
    box-sizing: border-box;

}
.text-donate{
padding-top: 40px;
}
.contact-box{
    background-color: #2F4A4B;
    text-align: center;
    font-size: 36px;
    font-weight: 400 ;
}
a{
    color: #A89D9D;
    text-decoration: none;
}
.tel{
    margin: 21px;
}